# Discord bot token
BOT_TOKEN=""

# Guild ID
GUILD_ID=""

# API Host, example: http://127.0.0.1:XXXX
API_HOST=""

# Comma-separated list of keywords to strip from prompts and add to the negative prompt
BLOCKED_KEYWORDS="nsfw, explicit"
